@import "../src/stylesheets/layout.scss";
@import "../src/stylesheets/colors.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    @include gradient($prim-color, $sec-color);
    @include flex-container(100%, 10vh);
}