<div ngClass="form-container">
    <h3>Registrera ny produkt</h3>
    <form (submit)="CreateProduct()">
        <div ngClass="form-item">
            <label for="name">Namn</label>
            <input type="text" name="name" [(ngModel)]="model.name">
        </div>
        <div ngClass="form-item">
            <label for="description">Beskrivning</label>
            <textarea name="description" [(ngModel)]="model.description" rows="4" cols="20"></textarea>
        </div>
        <div ngClass="form-item">
            <label for="price">Pris</label>
            <input type="text" name="price" [(ngModel)]="model.price">
        </div>
        <div ngClass="form-item">
            <label for="categoryName">Kategori</label>
            <input type="text" name="categoryName" [(ngModel)]="model.categoryName">
        </div>
        <div>
            <button type="submit">Skapa produkt</button>
        </div>
    </form>
    <p *ngIf="product">Ny produkt registrerad med artikelnummer: {{product.id}.</p>
</div>
