<div ngClass="item-container">
    <div ngClass="container-element">
        <img src="{{defaultImgUrl}}" alt="Servett">
    </div>
    <div ngClass="container-element">
        <h6>{{product?.name}}</h6>
    </div>
    <div ngClass="container-element">
        <p>Artikelnr: {{product?.id}}</p>
    </div>
    <div ngClass="container-element">
        <p>Beskrivning: {{product?.description}}</p>
    </div>
    <div ngClass="container-element">
        <p>Pris: {{product?.price}} kronor.</p>
    </div>
    <div ngClass="container-element">
        <p>Kategori: {{product?.category}}</p>
    </div>
    <div ngClass="container-element">
        <button (click)="AddToBasket()">Lägg till</button>
    </div>
</div>


