<div ngClass="item-container">
    <div ngClass="container-element">
        <img src="{{defaultImgUrl}}" alt="Servett">
    </div>
    <div ngClass="container-element">
        <h6>{{product?.name}}</h6>
    </div>
    <div ngClass="container-element">
        <p>Artikelnr: {{product?.id}}</p>
    </div>
    <div ngClass="container-element">
        <p>Beskrivning: {{product?.description}}</p>
    </div>
    <div ngClass="container-element">
        <p>Pris: {{product?.price}} kronor.</p>
    </div>
    <div ngClass="container-element">
        <p>Kategori: {{product?.category}}</p>
    </div>
    <div ngClass="container-element">
        <p>Antal i lager: {{product?.quantity}}</p>
    </div>
    <div ngClass="quantity-element">
        <div>
            <button (click)="AddToCart()">Lägg till</button>
        </div>
        <div>
            <label for="quantity">Antal</label>
            <input autocomplete="off" id="quantity" placeholder="0" min="0" max="{{product.quantity}}" type="number" name="quantity" [(ngModel)]="cartItem.quantity">
        </div>
    </div>
</div>


