@import "../../styles.scss";

.form-container{
    @include form-container(30px);
}

form{
    @include form(320px, $form-background, $form-border);
}

.form-item{
    @include form-item(300px);
}

.form-btns{
    @include form-item(300px);
    justify-content: space-between;
}

textarea{
    resize: none;
}

input[type=text]{
    width: 178px;
}

button{
    @include button(green, 0.9em);
}

button:hover{
    @include button-hover;
}