@mixin form-container($margin-top) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin-top auto;
}

@mixin form($width, $backgroundcol, $bordercol){
    width: $width;
    margin: 5px 10px;
    padding: 5px;
    background-color: $backgroundcol;
    border: solid 1px $bordercol;
    border-radius: 5px;
}

@mixin form-item($width){
    width: $width;
    margin: 2px;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.container{
    @include flex-container(100%, auto);
}

.form-container{
    @include form-container(30px);
}

form{
    @include form(320px, $form-background, $form-border);
}

.form-item{
    @include form-item(300px);
}

.form-btns{
    @include form-item(300px);
    justify-content: space-between;
}

.form-select{
    width: 178px;
}

textarea{
    resize: none;
}

input[type=text]{
    width: 178px;
}

input[type=number]{
    width: 178px;
}

input[type=password]{
    width: 178px;
}

button{
    @include button(green, 0.9em);
}

button:hover{
    @include button-hover;
}