@mixin link{
    color: white;
}

@mixin link-hover{
    cursor: pointer;
    opacity: 0.9;
    background-color: grey;
}

@mixin button($color, $fontsize){
    width:fit-content;
    font-size: $fontsize;
    height: $fontsize * 2;
    padding: 2px 6px;
    background-color: $color;
    border: 1px solid darkgray;
    border-radius: 5px;
    color: white;
}

@mixin button-hover{
    opacity: 0.8;
}